<div class="flex space-x-4 h-[40ren]">
  <div class="h-full">

    <input type="range" name="zoom" min="0" max="20" class="w-full" [(ngModel)]="zoom">

    <div class="divide-y h-full overflow-auto pr-4"  >
      @for(location of $locations(); track location){
      
        <div class="max-w-md text-gray-900 cursor-pointer" aria-hidden="true" (click)="goToPlace(location,$index)">
          <div class="flex flex-col pb-3">
            <dt class="mb-1 text-gray-500 md:text-lg 0">
              {{ location.name }}
            </dt>
            <dt class="text-lg font-semibold">
              {{ location.description }} 
            </dt>
          </div>
        </div>
      }
    </div>
  </div>
  <div class="w-4/5">
    <div class="w-full h-full">
      <google-map
        mapId="557d0eb1a3a89d56"
        height="250px"
        width="100%"
        [center]="center()"
        [zoom]="zoom()">
        @for(location of $locations(); track location){
          <map-advanced-marker [position]="{lat:location.latitude,lng:location.longitude}" 
          #marker="mapAdvancedMarker"
          (mapClick)="mapClick(location,marker)"/>
        }
        <map-info-window>mi contenido</map-info-window>
      </google-map>
    </div>
  </div>
</div>