<div class="flex space-x-4 h-[40ren]">
  <div class="h-full">
    <div class="divide-y h-full overflow-auto pr-4"  >
      @for(location of $locations(); track location){
      
        <div class="max-w-md text-gray-900" aria-hidden="true" >
          <div class="flex flex-col pb-3">
            <dt class="mb-1 text-gray-500 md:text-lg 0">
              {{ location.name }}
            </dt>
            <dt class="text-lg font-semibold">
              {{ location.description }} 
            </dt>
          </div>
        </div>
      }
    </div>
  </div>
  <div class="w-4/5">
    <div class="w-full h-full">

    </div>
  </div>
</div>